.animate-nav-appear {
	animation: nav-appear 1s cubic-bezier(0.4, 0, 0.2, 1) both;
}

@keyframes nav-appear {
	from {
		transform: translateY(4rem);
	}

	to {
		transform: translateY(0);
	}
}

.text-verycool {
	font-size: min(18vw, 10vmax, 12rem);
}

.animate-verycool {
	animation: verycool 1s cubic-bezier(0.4, 0, 0.2, 1) both;
}

@keyframes verycool {
	from {
		transform: translateY(1.3em);
		transform: translateY(1lh);
	}

	to {
		transform: translateY(0);
	}
}

@media (orientation: landscape){
	.shadow-card {
		box-shadow: 0 0.25rem 0.5rem rgba(12, 12, 13, 0.2);
	}
}
